NEXT_PUBLIC_CHAIN_ID=1979
NEXT_PUBLIC_RPC_URL=https://rpc.ritualfoundation.org
NEXT_PUBLIC_EXPLORER=https://explorer.ritualfoundation.org
NEXT_PUBLIC_NFT_CONTRACT=0x72f36b075d934AfF3e6e82B88622dD80b08b0257
